<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Terms and Conditions</title>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    .container {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
    h1 {
        text-align: center;
    }
    .terms {
        margin-top: 20px;
    }
    .terms p {
        line-height: 1.5;
    }
    .footer {
        margin-top: 50px;
        text-align: center;
        font-size: 14px;
        color: #777;
    }
    .back-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none; /* Remove underline */
        cursor: pointer;
    }
    .back-button:hover {
        background-color: #0056b3;
    }
</style>
</head>
<body>

<div class="container">
    <h1>الشروط والاحكام</h1>

    <div class="terms" style ="text-align:right">
        <p><span>({{vendor.created_at}})</span> تعتبر هذه الاتفاقية سارية من تاريخ انظمامك الى موقع شركة بَلي  </p>
        <p> <h3>الطرف الاول </h3>شركة بريق النهرين لخدمات التوصيل ونقل المسافرين محدودة المسؤولية (بَلي)  وهي شركة تأسست بموجب قانون الشركات العراقي مسجل بتاريخ 11\8\2021 رقم شهادة التسجيل 02-40150000 ويمثلها السيد منقذ منذر منير العزاوي (المدير المفوض للشركة) اضافة الى وظيفته ويشار اليها فيما بعد بـ (الطرف الاول : بَلي)</p>
        <p> <h3>الطرف الثاني </h3> شركة {{vendor}} </p>
        <p> <h3>التزامات الطرف الاول</h3> يقوم الطرف الاول بعرض اعلانات للطرف الثاني عبر التطبيق الالكتروني (بلي)وعبر منصات التواصل الاجتماعي الخاصة بالطرف الاول  </p>
        <p> على الطرف الاول (بَلي )تزويد الطرف الثاني بالمستلزمات التي يحتاجها من الملصقات او البوسترات التي تحتوي على الارشادات والاستمارة الالكترونية لكي تتم عملية التتبع بخدمات الطرف الثاني </p>
        <p> <h3>التزامات الطرف الثاني</h3> 	يلتزم الطرف الثاني بتزويد الطرف الاول بالمعلومات اللازمة للسائقين المتمتعين بعروض الطرف الثاني من خلال ملئ الاستمارة </p>
        <p> يلتزم الطرف الثاني القيام بتجهيز مواد صالحة للاستعمال وموافقة لشروط الصحة والسلامة لغرض تسليمها للسائقين</p>
        <p> يلتزم الطرف الثاني بالالتزام بالأسعار ونسبة الخصم المحددة أعلاه مع امكانية مراجعة جميع الأسعار المتفق عليها في الملحق رقم (1) كل ثلاثة أشهر وتحَدث حصراً بعد اعلام الطرف الثاني على ذلك وحسب أسعار الأسواق المحلية</p>
        <p>	يحق للطرف الأول وضع الملصقات التعريفية وكافة أنواع الدعاية الاعلانية داخل وخارج المتجر التي تدل على ان المتجر يعمل مع الطرف الأول</p>
        <p>	يلتزم الطرف الثاني بنشر الاعلانات على مواقع التواصل الاجتماعي الخاصه به بخصوص العروض المتفقة بين الطرفين</p>
        <p>	يلتزم الطرف الثاني بعدم استخدام الخدمة لعمليات غير قانونية أو لبيع او تقديم خدمات غير متفقة  و\او مخالفة للقوانين المعمول بها</p>
        <p> <h3> الإقرارات</h3> يقر الطرفين بانه مفوض قانونيا بالدخول في هذه الاتفاقية عن نفسه وبالنيابة عن المؤسسة أو الشركة التي يمثلها</p>
        <p>	يقر الطرفين بعدم استخدام الخدمة لعمليات غير قانونية أو لبيع او تقديم خدمات غير متفقة  و\او مخالفة للقوانين المعمول بها</p>
        <p> <h3> اخلاء مسؤولية</h3> يتم إعفاء الأطراف من المسؤولية عن الإخفاق الكامل أو الجزئي في تنفيذ أي من أحكام هذا الاتفاق إذا كان هذا الإخفاق ناتجًا عن ظروف قوة قاهرة، تتجاوز سيطرة الطرف الذي فشل في أداء التزاماته. يجب أن تشمل ظروف القوة القاهرة على سبيل المثال لا الحصر الكوارث الطبيعية، والظروف الجوية القاسية، والحرائق، والحروب، والإضرابات، والأعمال العسكرية، والاضطرابات الجماعية، وأفعال الدولة والسلطات الحكومية المعنية (سيشار إليها بـ "ظروف القوة القاهرة")</p>
        <p>لا يكون الطرف الاول طرفاً في اي شكوى أو نزاع أو خلاف ولا يتحمل أي مسؤولية بين السائق والطرف الثاني </p>
        <p>يتحمل السائقين الذين يقدمون خدمة لصالح الطرف الأول كامل المسؤولية منفردا بالتزامهم والتزام بتسديد مبالغ الخدمة</p>
        <p> <h3> السرية </h3> يلتزم الطرفين طيلة سريان هذه الاتفاقية وبعد انتهائها لأي سبب من الأسباب، بالاحتفاظ بجميع أسرار الطرف الاخر الفنية والصناعية والتجارية وعدم إفشائها بأي صورة من الصور، وأن لا يتصل خلال هذه الفترة بأي من زبائن الطرف الاخر والذين تعامل معهم وعرفهم أو لم يعرفهم مالم يتم الاتفاق على غير ذلك خطيا</p>
        <p> <h3> حقوق الملكية </h3>يعلم الطرفان بان حقوق الملكية الفكرية والمعرفة الفنية الخاصة بمزود الخدمة ذات الصلة بموضوع هذه الاتفاقية تبقى من حق مزود الخدمة وحده ويحتفظ بحقه باتخاذ كافة الاجراءات القانونية الكفيلة بحماية حقوق الملكية الفكرية الخاصة به</p>
        <p>يحق للطرفين خلال مدة سريان الاتفاقية باستخدام العلامات التجارية والشعارات التي تخص الطرف الآخر المصرح بها بموجب كتاب خطي فقط</p>
        <p>لا يعتبر أي بند في هذه الاتفاقية تصريح لانتقال الملكية الفكرية أو التكنولوجية أو المعرفة الفنية باي شكل كانت من اي طرف للأخر ولا يحق لأي طرف استخدام أي منها بشكل مباشر أو غير مباشر إلا بموافقة صريحة من الطرف الآخر</p>
        <p> <h3> المدةوالانهاء </h3>تبدا مدة هذا العقد اعتباراً من تاريخ التوقيع و لمدة سنة قابله لتجديد ما لم يتم الإنهاء قبل هذا التاريخ وفًقا للأحكام المذكورة بهذا العقد، ولا يتجدد هذا العقد لمدة أو مدد أخرى إلا بموافقة الطرفين الكتابية المسبقة </p>
        <p>يتفق الطرفان على ان يكون لكل منهما الحق في الغاء هذه الاتفاقية في أي وقت، في حالة قرر احد الطرفين انهاء العقد قبل مدته يجب ارسال اشعار خطي قبل ( 30 ) يوم </p>
        <p> <h3> القانون الواجب التطبيق وحل النزاع </h3>تبدا مدة هذا العقد اعتباراً من تاريخ التوقيع و لمدة سنة قابله لتجديد ما لم يتم الإنهاء قبل هذا التاريخ وفًقا للأحكام المذكورة بهذا العقد، ولا يتجدد هذا العقد لمدة أو مدد أخرى إلا بموافقة الطرفين الكتابية المسبقة </p>
        <p>تخضع هذه الاتفاقية وتفسر احكامها وأي نزاع ينشئ بسب تنفيذ هذه الاتفاقية او تفسير احكامها وفقا لقوانين الجمهورية العراقية. وتختص المحاكم وفق قواعد الاختصاص في العراق بحسب اختصاصها القضائي في نظر أي نزاع ينشأ عن تفسير او تنفيذ هذا العقد</p>
        
    </div>
</div>

<div class="footer">
    <a class="back-button" href="{% url "users:vendor_profile" %}">العودة الى الصفحة الرئيسية</a>
    <p>&copy; 2024 BALY Company. All rights reserved.</p>
</div>

</body>
</html>
